@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topHeader {
  display: flex;
  width: 100vw;
  margin-left: 10vw;
  margin-top: 20px;
}

.top-links {
  display: flex;
  justify-items: flex-start;
  width: 60vw;
  align-items: center;
}

.top-links li {
  list-style-type: none;
  flex-grow: 0.5;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
}

.topHeaderSection {
  background: #495E57;
  display: flex;
  justify-items: space-around;
}

.headerSummary {
  color: #EDEFEE;
  margin-left: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pageTitle {
  color: #F4CE14;
  font-family: 'Times New Roman', Times, serif;
  margin: 12px 0 0 0;
  font-size: 42px;
}

.subPageTitle {
  margin: 0 0 12px 0;
}

.titleDesc {
  margin-bottom: 5px;
}

.titleDesc p {
  margin: 0;
}

.headerImgSection {
  margin-left: 270px;
  position: relative;
  top: 40px;
}

.headerImage {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.middle-container {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
}

.siteButton {
  background-color: #F4CE14;
  color: #333333;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.mainHeader {
  display: flex;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-around;
  align-items: center;
}

.mainDesc {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
  width: 250px;
  height: 450px;
  background-color: #EDEFEE;
  margin-right: 40px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.cardImage {
  width: 250px;
  height: 160px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.cardTitle {
  display: flex;
  padding-left: 20px;
  padding-top: 5px;
  justify-content: space-between;
  align-self: center;
}

.cardTitle h3 {
  font-size: 18px;
  font-weight: 400;
}

.cardTitle h4 {
  font-size: 16px;
  font-weight: 400;
  color: #EE9972;
  margin-right: 10px;
}

.cardDesc {
  padding: 20px;
  font-size: 16px;
}

.scooterImg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}